
export ARCH=arm
export TARGET=arm-none-eabi
export HOST=x86_64-w64-mingw32

export VARIANT=cortex-m7-fpv5-d16-newlib
export PROGRAM_PREFIX=arm-none
export TARGET_GCC_FLAGS=--with-float=hard --with-fpu=fpv5-d16 --with-arch=armv7-m --with-tune=cortex-m7 --with-mode=thumb --with-abi=aapcs-linux

export LIBC=newlib
export LIBC_USE_SOFT_FLOAT=n
export LIBC_DEBUG=
export LIBC_NANO=y

TARGET_CFLAGS += -Os
export TARGET_CFLAGS

