
export ARCH=arm64
export TARGET=aarch64-linux-gnu
export HOST=x86_64-w64-mingw32

export VARIANT=cortex-a53-glibc
export PROGRAM_PREFIX=aarch64-linux
export TARGET_GCC_FLAGS=--with-arch=armv8-a --with-cpu=cortex-a53 --with-abi=lp64

export LIBC=glibc
export LIBC_USE_SOFT_FLOAT=
export LIBC_DEBUG=

TARGET_CFLAGS += -Os -Wno-error=maybe-uninitialized
export TARGET_CFLAGS

