
export ARCH=arm
export TARGET=arm-linux-gnueabi
export HOST=x86_64-w64-mingw32

export VARIANT=cortex-a7-glibc
export PROGRAM_PREFIX=arm-linux
export TARGET_GCC_FLAGS=--with-float=soft --with-arch=armv7-a --with-tune=cortex-a7 --with-abi=aapcs-linux

export LIBC=glibc
export LIBC_USE_SOFT_FLOAT=y
export LIBC_DEBUG=

TARGET_CFLAGS += -Os
export TARGET_CFLAGS

