
export ARCH=loongarch
export TARGET=loongarch64-linux-gnu
export HOST=x86_64-w64-mingw32

export VARIANT=loongarch
export PROGRAM_PREFIX=loongarch64-linux
export TARGET_GCC_FLAGS=--enable-default-pie

export LIBC=glibc
export LIBC_USE_SOFT_FLOAT=
export LIBC_DEBUG=

TARGET_CFLAGS += -O2
export TARGET_CFLAGS

export BINUTILS_NO_GOLD=y
