
export ARCH=mips
export TARGET=mips-linux-uclibc
export HOST=x86_64-w64-mingw32

export VARIANT=mips32r2-o32-uclibc
export PROGRAM_PREFIX=mips-linux
export TARGET_GCC_FLAGS=--with-float=soft --with-arch=mips32r2 --with-abi=32

export LIBC=uclibc-ng
export LIBC_USE_SOFT_FLOAT=y
export LIBC_DEBUG=
export UCLIBC_VARIANT=o32

TARGET_CFLAGS += -Os
export TARGET_CFLAGS

