
$(error Currently building with glibc causes BFD assertion failed in ld of binutils-2.29)

export ARCH=mips
export TARGET=mipsel-linux-gnu
export HOST=x86_64-w64-mingw32

export VARIANT=mipsel32r2-o32-glibc
export PROGRAM_PREFIX=mipsel-linux
export TARGET_GCC_FLAGS=--with-float=soft --with-arch=mips32r2 --with-abi=32

export LIBC=glibc
export LIBC_USE_SOFT_FLOAT=y
export LIBC_DEBUG=

TARGET_CFLAGS += -Os
export TARGET_CFLAGS

