
export ARCH=x86
export TARGET=x86_64-pc-linux-gnu
export HOST=x86_64-w64-mingw32

export VARIANT=x86_64-glibc
export PROGRAM_PREFIX=x86_64-linux-gnu
export TARGET_GCC_FLAGS=--with-default-libstdcxx-abi=new --enable-gnu-unique-object --disable-vtable-verify --enable-default-pie -with-abi=m64 --with-tune=generic

export LIBC=glibc
export LIBC_USE_SOFT_FLOAT=
export LIBC_DEBUG=

TARGET_CFLAGS += -O2
export TARGET_CFLAGS

